{{!-- Title --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 id="title">EAT DA BURGER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <img class="hamburgerImage" src="/assets/img/burger.png" alt="hamburger" height="200px">
        </div>
    </div>
</div>

{{!-- Burger Data --}}
<div class="container">
    <div class="row">
        {{!-- Burgers ready to eat --}}
        <div class="col-sm-6 text-center">
                <h4 class="available-burgers">Available Burgers</h4>
            <div class="row">
                <div class="col-sm-12">
                        {{!-- For loop to go through uneaten burgers --}}
                        {{#each data}}
                            {{!-- Making for loop only get uneaten burgers --}}
                            {{#unless this.devoured}}
                            {{!-- Row for new burgers to be formed to --}}
                            <div class="row uneaten-burgers">
                            {{!-- Id / Burger Name From db --}}
                            <p class="uneaten-burgers-display">{{this.id}}. {{this.burger_name}}</p>
                            {{!-- Form to "devour the burger" --}}
                            <form method="POST" action="/burgers/update?_method=PUT" class="button-size form-inline">
                                {{!-- Inputting the Id of the burger that gets devoured --}}
                                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                <br>
                                {{!-- Button to devour burger --}}
                                <button type="submit" class="btn btn-secondary btn-sm float-right devour-btn">DEVOUR</button>
                            </form>
                            </div>
                            {{/unless}}
                        {{/each}}
                </div>
            </div>
        </div>
        {{!-- Burgers that have already been eaten --}}
        <div class="col-sm-6 text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h4 id="unavailable-burger">Eaten Burgers</h4>
                        {{!-- For loop to go through eaten burgers --}}
                        {{#each data}}
                            {{!-- If burger has not been eaten do not include --}}
                            {{#if this.devoured}}
                            <form class="form-control eaten-burgers" type="text">{{this.id}}. {{this.burger_name}}</form>
                            {{/if}}
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Add a burger --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4 id="enter-burger">Enter in a burger you would like to eat!</h4>
            {{!-- Form to add new burgers to page --}}
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" id="userInput">
                <button type="submit" class="btn btn-secondary" id="text-enter-button">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

<br><br>